ul {
  list-style-type:none;
  height: 70vh;
  overflow: scroll;
  padding: 5px;
}

.controls {
    align-self: flex-end;
    width: 98%;
    margin: auto;
    position: fixed;
    bottom: 1rem;
}

.current-typer {
  position: fixed;
  bottom: 4rem;
}

body {
  display: flex;
  flex-direction: column-reverse;
}

.message.self {
  width: 33%;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px
}

.message {
  width: 33%;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.time {
  font-size: 12px;
}

.message.self .user-name {
  display: none;
}

.user-name {
  color: red;
}